@import "variables.less";

#map { height: 500px; }

.container {
    position: relative;
    padding-right: 10px;

    margin: center;
    margin-left: auto;
    margin-right: auto;
    width: @width;

    background-color: pink;
    padding: 50px;
    
    border-radius:50px;
    
    
    .titel {
        color: white;
        width: 30%;
        text-align: right;
        font-size: 50px;
        font-family: Verdana;
        font-weight: bold;

    }

    .t {

        color: white;
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-family: Verdana;

    }

}

