@import "variables.less";

#map {
	height: 430px;
}

.container {
    position: relative;
    padding-right: 10px;

    margin: center;
    margin-left: auto;
    margin-right: auto;
    width: @width;

    background-color: @orange;
    padding: 50px;
    
    border-radius:50px;
    
   
    .titel {
        color: @blue;
        text-align: right;
        font-size: 50px;
        font-family: Verdana;
        font-weight: bold;
    }

    .schrift{
    	color: @blue;
        width: 30%;
        text-align: left;
        font-size: 16px;
        font-family: Verdana;
        line-height: 24px;
    }
}


// id .
// class #