@width: 300px;
@color: lightgrey;

.container {
    position: relative;
    
    width: @width;
    margin: auto;
    background-color: @color;
    padding: 50px;
    border-radius:20px;
    overflow: hidden;

    .button {
        width: 30%;
        padding: 10px;
        margin: 20px 0;
        
        //float: right;
        //border-radius: this.width/2
    }
    
    .output {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-family: Courier;
        background-color: green;
        float: center;
    }
    .beverageField{
        background-color: blue;
        margin: 10px;
       
    }
}
