.container {
  position: relative;
  width: 200px;
  margin: auto;
  background-color: #d3d3d3;
  padding: 50px;
  border-radius: 20 px;
}
.container .button {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
}
.container .result {
  width: 100%;
  text-align: center;
  font-size: 28px;
}
